body {
	font-family: 'Exo 2', sans-serif;
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.menu {
	background-color: black;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid turquoise;
}

.logo {
	width: 7em;
	text-align: left;
	padding: 2em 1.25em 0em 2em;
}

.menu a {
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 0.25em 1em;
	margin: 2em 0;
}

.menu a:hover {
	color: goldenrod;
	transition-duration: 0.25s;
	border-style: solid;
	background-color: gold;
	color: black;
	padding: 0.25em 1em;
	border-radius: 0.5em;
}

h1 {
	text-transform: uppercase;
	font-size: 2.5em;
	padding: 2.5em 1em;
	background-color: black;
	margin: 3em 1em 1em 1em;
	background-image: url('https://images.unsplash.com/photo-1515704089429-fd06e6668458?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
	background-attachment: fixed;
	background-size: contain;
	text-align: right;
}

.bio {
	display: grid;
	grid-template-columns: 1fr;
	padding: 1em;
	margin: 2em;
	border-right: 3px solid deeppink;
}

.headshot {
	width: 10em;
	margin: auto;
}

.linkedin, .git {
	width: 1.5em;
	margin: 2em 0.25em 0.25em 0.25em;
	background-color: white;
	border-radius: 0.25em;
	cursor: pointer;
	padding: 0.25em;
}

.languages {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	padding: 2em;
}

.languages img {
	width: 3em;
	height: 5em;
	object-fit: scale-down;
	padding: 1.5em;
	border: 1px solid turquoise;
}

.languages img:hover {
	background-color: deeppink;
	opacity: 50%;
	border: 1px solid black;
}



/*****   CONTACT PAGE   *****/
.contact {
	text-align: center;
	border: 5px solid turquoise;
	padding: 5em 0;
	margin: 0 3em 3em 3em;
}

.contact:hover {
	border: 5px double turquoise;
}



/*****   MEDIA QUERY   *****/
@media only screen and (min-width: 750px) {

	.languages {
		margin: 0 2em;
		padding: 3em;
	}

	.languages img {
		width: 7em;
	}
}